{
    "token": "your bot token",
    "bot-prefix": "bot command prefix",
    "extensions": ["your list of extensions"],
    "extension-data": {
        "extension name": {"whatever": "arbitrary json"}
    }
}